/*colors:
 * cool gray:#ACACAC
 * */
html,
body {
    height:100%;	
    width:100%;
    min-width:100%;
    background:#fff;
    min-width:768px;			
    font-weight:100;
    font-size:15px;
    font-family:serif;
    background: url(../images/slider-background.jpg) repeat-x;
    background-position: 0% 240px;
    z-index:-1;
    min-height:800px;
}


/* =Element Styles
-------------------------------------------------------------- */
a{
    color:#369;
}

p{
    margin:.4em 0 .8em 0;
}



/* =page wrapper container
-------------------------------------------------------------- */
#container {
    min-height:100%;
    position:relative;
    min-width:100%;
}



/* =HEADER
-------------------------------------------------------------- */
#header {
    clear:both;
    float:left;
    width:100%;
}

#header div#grayBanner{
    padding:.4em 15px 0 15px;
    background:#D9D9D9;
    /*background:#ACACAC;*/
    clear:both;
    box-shadow: 0px 1px 2px -1px rgba(0,0, 0,.8);
    -moz-box-shadow: 0px 1px 2px -1px rgba(0,0, 0,.8);
    -webkit-box-shadow: 0px 1px 2px -1px rgba(0,0, 0,.8);
}

#header ul#topNav {
    text-align:right;
    width:100%;
    max-width:1020px;
    list-style:none;
    margin:10px auto 0 auto;
    overflow:auto;
}

#header ul#topNav li {
    display:inline;
    list-style:none;
}

#header ul#topNav li a {
    display:block;
    float:right;
    margin:0 0 0 10px;
    padding:3px 10px;
    text-align:center;
    color:#000;
    text-decoration:none;
    position:relative;
    line-height:1.3em;
}

#header ul#topNav li a:hover {
    background-color: #006699;
    color:#fff;
}

#header ul#topNav li a.active,
#header ul#topNav li a.active:hover {
    color:#fff;
    background:#000;
}

#header ul#topNav li a {
    display:block;
}


/* = MAIN is the columns container
-------------------------------------------------------------- */
#main {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    overflow:hidden;		/* This chops off any overhanging divs */
    padding-bottom:60px;   /* Height of the footer */
    max-width:1015px;
    margin:auto;
    padding-left:5px;
}


/* =Footer
-------------------------------------------------------------- */
#footer { 
    position:fixed; 
    bottom:0; 
    left:0; 
    width:100%;
    height:50px; 
    z-index:200; 
}
#credits { 
    float:left; 
    margin:2px 0 0 2px; 
    text-indent:-9999em; 
    overflow:hidden;
    background:url('../images/dollar.png') no-repeat left top;  
    width:100px; 
    height:100px;
    bottom:30px;
    position:relative; 
    z-index:10; 
}
#footer .section { 
    float:right; 
    margin:15px 15px 0 0; 
    position:relative; 
    z-index:10;
    padding:3px;  
}
#back-footer { 
    position:absolute; 
    z-index:9; 
    background:#fff repeat left top;
    opacity:0.85; 
    filter: alpha(opacity = 85);
    width:100%; 
    height:50px; 
}


/* = col : column 1 =Main Navigation and title
-------------------------------------------------------------- */
.col1{
    position:relative;
    padding:2px;
    overflow:hidden;
}

.col1 a{
    text-decoration:none;
}

h1#name{
    font-size:38px;
    margin-top:10px;
    text-decoration:none;
}

#main ul#navigation{
    padding-top:7px;
    clear:both;
    color:#006699;
}

#main ul#navigation li{
    display:inline;
    list-style:none;
    margin:10px 10px 10px 0px;
    font-variant:small-caps;
}

#main ul#navigation li a{
    text-decoration:none;
}

#main ul#navigation li a:hover {
    color:#931931;
    text-decoration:underline;
}

#main ul#navigation span.slash{

    margin-right:10px;
    font-size:16px; 
    position:relative;
    top:0px;
    font-weight:bold;
}

/* = col : column 2 =Web demo projects container
-------------------------------------------------------------- */
.col2{
    margin-top:40px;
}


/* =WEB VIEW DEMOS
-------------------------------------------------------------- */
.demos {
    margin-top:40px;
    overflow:auto;
    width:99%;
    /*border:2PX solid #393939;
    background-color:rgba(51, 51, 51, .9);
    background:#111 url(../images/body_bg_top.png) repeat;
    background-size:10% 100%;
    box-shadow:1px 1px 3px black;*/
    min-height:500px;
    height:500px;
    
}

.demo:hover{
       border:7px solid #373737;
}

.demo{
    width: 28.6%;
    height:175px;
    background-color: #006699;/* blue */
    background-color: #000;
    margin-left:2%;
    margin-top:15px;
    float: left;
    margin-bottom: 2em;
    position: relative;
    z-index: 2;
    box-shadow:-1px -1px 0px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border:7px solid #393939;
    padding:3px;
}

.demo .title{
    opacity:.4;
    color:#333;
    font-size:24px;
    font-weight:bolder;
    position:absolute; 
    bottom:10px;
    text-align:center;
    width:93%;
    font-family:impact;
    font-variant:small-caps;
}

.demo:hover .title{
       opacity:1;
         -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.demo a {
    display: block;
    background-color: #e8e8e8;
    height: 160px;
    position: relative;
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    padding: 8px 12px;
    z-index: 2;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-radius:0px;
}
.demo a img {
    position:relative;
    top:5%;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    /*box-shadow:1px 1px 2px rgba(0,0,0, .6);
    border-radius:20px;*/
}

.demo a:hover {
    background-color: #f3f3f3;
}

.demo a:hover img {
    opacity: 1;
}







/* =MAIN VIEW: albums=container for album
-------------------------------------------------------------- */

#albums{
	float:left;
	position:relative;
	margin:80px auto 0px auto;
        width:72%;

}
#albums a:visited{
    border: 0 none;
    color:transparent;
}
#albums a:hover{
    border: 0 none;
    color:transparent;
}
#albums a:active {
    border: 0 none;
    color:transparent;
}
#albums a:link{
    border: 0 none;
    color:transparent;
}

.album{
	width:27%;
	/*height:310px;*/
	padding:10px;
        max-width:175px;
	background-color:#333;
	border:1px solid #444;
        float:left;
        margin-right:10px;
	text-align:center;
	cursor:pointer;
	-moz-box-shadow:1px 1px 4px #000;
	-webkit-box-shadow:1px 1px 4px #000;
	box-shadow:1px 1px 4px #000;
	/*-webkit-box-reflect:
		below 5px 
		-webkit-gradient(
			linear, 
			left top, 
			left bottom, 
			from(transparent), 
			color-stop(0.6, transparent), 
			to(rgb(18, 18, 18))
		);*/

}

.album:hover{
    background-color:#383838;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.album img{
    width:98%;
    height:100px;
    border:1px solid #444;
    -moz-box-shadow:1px 1px 4px #000;
    -webkit-box-shadow:1px 1px 4px #000;
    box-shadow:1px 1px 4px #000   
}

.album a:hover{
    border: 0px solid transparent;
}

.album .album_desc{
    display:block;
    color:#666;
    background:#111 url(../images/overlay.png) no-repeat bottom right;
    background-size:100% 100%;
    /*height:200px;*/
    margin-top:10px;
    text-align:left;
    line-height:20px;
    min-height: 203px;
    max-height:203px;
    overflow:hidden;
    text-overflow:ellipsis;
    border:1px solid #393939;
    -moz-box-shadow:0px 0px 2px #000 inset;
    -webkit-box-shadow:0px 0px 2px #000 inset;
    box-shadow:0px 0px 2px #000 inset;      
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;  
}

.album .album_desc span{
	display:block;
	margin:0px 10px 10px 10px;
	border-top:1px solid #333;
	padding-top:5px;
}
.album .album_desc h2{
	margin:10px 10px 0px 10px;
	text-align:left;
	padding-bottom:5px;
	font-weight:normal;
	color:#ddd;
	text-shadow:0px 0px 1px #fff;
	border-bottom:1px solid #000;
}

.album:hover .blue{
	background:#111 url(../images/greenOverlay.png) no-repeat bottom right;
	background-size:100% 100%;    
}
.album:hover .red{
	background:#111 url(../images/orOverlay.png) no-repeat bottom right;
	background-size:100% 100%;
}
.album:hover .orange{
    background:#111 url(../images/blueOverlay.png) no-repeat bottom right;
    background-size:100% 100%;	
}


#newsContainer{
    width:25%;
    float:right;
    position:relative;
    top:12px;
}
.news{
   
    background-color:#333;
    border:1px solid #444;
    color:white;
    position:relative;
    float:right; 
    width:100%;
    margin:10px;
    -moz-box-shadow:1px 1px 3px #000;
    -webkit-box-shadow:1px 1px 3px #000;
    box-shadow:1px 1px 3px #000;
}

.news h2{
    background:#111 url(../images/overlay.png) no-repeat bottom right;
    background-size:100% 100%;
    margin:10px;
    text-align:center;
    font-size:24px;
    padding:10px 5px 10px 5px;
    color:#ddd;
    border:1px solid #444;
    -moz-box-shadow:1px 1px 4px #000;
    -webkit-box-shadow:1px 1px 4px #000;
    box-shadow:1px 1px 4px #000;
}
#recentNews{
    width:85%;
    margin:auto;
    color:#666;
    background:#111 url(../images/overlay.png) no-repeat bottom right;
    background-size:100% 100%;
    /*height:200px;*/
    margin-bottom:10px;
    text-align:left;
    text-overflow:ellipsis;
    border:1px solid #393939;
    -moz-box-shadow:0px 0px 2px #000 inset;
    -webkit-box-shadow:0px 0px 2px #000 inset;
    box-shadow:0px 0px 2px #000 inset;
    padding:15px 8px 8px 8px;

}
.newFeed h3{
    margin:10px 10px 0px 10px;
    display:inline;
    text-align:left;
    font-weight:normal;
    color:#ddd;
    text-shadow:0px 0px 1px #fff;
    border-bottom:1px solid #000;
    -moz-box-shadow:0px 0px 2px #333;
    -webkit-box-shadow:0px 0px 2px #333;
    box-shadow:0px 2px 0px -1px #333;
    padding:0px 3px;
    
}
.imgUp{
    border:1px solid transparent;
    opacity:.7;
    position:relative;
 
   margin:auto;
}
.imgUp:hover{
    border:1px solid  #006699;
    border-radius:6px;
    opacity:1;
}
.newFeed{
    font-family:serif;
}
.newFeed{
    line-height:1.3em;
}




/* =DAILGO MODAL : JQUERY CSS
-------------------------------------------------------------- */

#dialog-modal{
    display:none;
}

/* =Resume View Styles
-------------------------------------------------------------- */

.resume
{
    
    margin-top:40px;
    overflow:auto;
    width:99%;
    min-height:550px;
    height:500px;
    border:2PX solid #393939;
    background-color:rgba(51, 51, 51, .9);
   
    background-size:10% 100%;
    box-shadow:1px 1px 3px black;
  

} 
.resumeDemo
{
    
    width: 180px; 
    margin:20px;
    position:absolute;
    text-align:left;
    left: 0px;

}


.resumeDemo li a
{
    text-decoration:none;
    text-align:left;
    display: block;
    color: #ccc;
    font-size: 16px;
    margin: 0.5em 0;
    line-height: 1em;
    padding: 4px 5px;
    text-shadow: 0 1px 3px black;
    text-decoration: none;
    cursor: pointer;
    font-family: DejaVu-regular, arial, helvetica;
}

.resumeDemo li a:hover
{
  color:white;
}

svg{
    width: 250px;
    height:250px;
}
#resumeContainer h3 {
    font-size: 24px;
    color: white;
    font-family: DejaVu-regular, arial, helvetica;
    margin-top:20px;
    text-shadow: 0 1px 3px black;
    
}
#resumeContainer h4 {
font-size: 14px;
color: white;
font-family: DejaVu-regular, arial, helvetica;
margin: 1.286em 0 0;
padding: 0;
line-height: 1.286em;
text-shadow: 0 1px 3px black;
}

.section1{
    width:54%;
    float:left;
    color: #CCC;
    text-shadow: 0 1px 3px black;
    font-size: 12px;
overflow:auto;
line-height: 1.5em;
font-family: DejaVu-regular, arial, helvetica;
margin: 1.5em 0 0;
padding-bottom:20px;
}

.sectionResume{
    width:90%;
    float:left;
    color: #CCC;
    text-shadow: 0 1px 3px black;
    font-size: 12px;
    overflow:auto;
    line-height: 1.5em;
    font-family: DejaVu-regular, arial, helvetica;
    margin: 1.5em 0 0;
    padding-bottom:20px;
}

.divider{
    background: url(../images/h-line.gif) repeat 0 0 transparent;
    width: 85%;
    min-width:560px;
    height: 2px;
    clear:both;
    margin-top: 15px;
}

.dividerSection{
    background: url(../images/h-line.gif) repeat 0 0 transparent;
    width: 80%;

    height: 2px;
    clear:both;
    display:block;
    margin:0 0 0 20px;
}
.demo.resumeDemo div.title
{ 
    font-size:20px;
    font-weight:bold;
    position:relative;
    margin:5px;
}

.demo.resumeDemo span
{
    font-size:14px;
    color:black;
    font-weight: bold;
    opacity:.5;
}

.demo:hover span{
     opacity:1;
     -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#gototop{
    position:absolute;
    bottom:100px; 
    right:40px; 
    opacity:0;
}

#gototop.on{
    display:inline;
    
}
#current{
    color:white;
}

.imageClick img{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     cursor:pointer;
    overflow:hidden;
 
    }   
 
.imageClick img:hover  
{ 
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg);
} 


h4 span{
    float:right;;

margin-right: 20%;
background: #494646;
color: white;
display: block;
float: right;
font-family: DejaVu-regular,arial,helvetica;
font-size: 12px;
padding: 0px 10px;
opacity: .9;
}
.outer {
    width:200px;
    height:300px;
    background-color:red;
    margin:0 auto;
    overflow:auto;    
}
.inner {
    width:182px;
    border:1px solid white;
    position:absolute;
    background-color:buttonface;
    text-align:right;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 16px;
    height:16px;
    
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
  
  
}
 


/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,102,153,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
     border:1px solid black;
     
 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,102,153,.9); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,102,153,0.7); 
}



/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    background-color:transparent;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}




